*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -100;
    &-purple{
        background-color: $purple;
    }
    &-dark-purple{
        background-color: $dark-purple;
    }
}

.image,p,h2{
    background-color: transparent;
}

.link{
    width: 80%;
}

.flex{
    display: flex;
    &-j-c{
        justify-content: center;
    }
    &-j-s-b{
        justify-content: space-between;
    }
    &-j-s-a{
        justify-content: space-around;
    }
    &-j-f-s{
        justify-content: flex-start;
    }
    &-a-i{
        align-items: center;
    }
    &-a-i-f-s{
        align-items: flex-start;
    }
    &-f-d-c{
        flex-direction: column;
    }
    &-f-w{
        flex-wrap: wrap;
    }
}