@font-face {
    font-family: 'SpaceGrotesk';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/SpaceGrotesk-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'SpaceGrotesk';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/SpaceGrotesk-Bold.ttf') format('truetype');
}

//FONT SIZES
$large: 56px;
$medium: 24px;
$small: 20px;
$x-small: 16px;


*{
    font-family: 'SpaceGrotesk';
}

.smallP{
    font-size: $x-small;   
}

p{
    font-size: $small;
    font-weight: bold;
}

button{
    font-size: $medium;
}

h2{
    font-size: $large;
}

a,
a:visited,
a:active{
    text-decoration: none;
}

