@mixin animationDisk($animationName,$topDistance){
    @keyframes #{$animationName} {
        from {margin-top: 0px;}
        to {margin-top: $topDistance;}
    }
    animation: #{$animationName} 0.4s ease-in-out forwards;
}

.diskManager{
    position: absolute;
    top: 125px;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
    width: 630px;
    //background-color: yellow;
    height: 70px;
    &__div{
        margin: 0px 80px 0px 10px; 
    }
    .disk{
        position: absolute;
        &-0{
            @include animationDisk(animationDisk0,75px);
            //margin-top: 75px;
        }
        &-1{
            @include animationDisk(animationDisk1,165px);
            //margin-top: 165px;
        }
        &-2{
            @include animationDisk(animationDisk2,255px);
            //margin-top: 255px;
        }
        &-3{
            @include animationDisk(animationDisk3,343px);
        }
        &-4{
            @include animationDisk(animationDisk4,430px);
        }
        &-5{
            @include animationDisk(animationDisk5,518px)
            //margin-top: 518px;
        }
    }
}