@font-face {
  font-family: "SpaceGrotesk";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/SpaceGrotesk-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "SpaceGrotesk";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/SpaceGrotesk-Bold.ttf") format("truetype");
}
* {
  font-family: "SpaceGrotesk";
  font-size: 24px;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.main .mainMenu {
  height: 500px;
  background-color: #7945FF;
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
  border: 4px solid #000;
  box-shadow: 0px 10px #000;
  width: 450px;
  background-color: #7945FF;
}
.main .mainMenu__btn-red {
  background-color: #FD6687;
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
  border: 4px solid #000;
  box-shadow: 0px 10px #000;
  width: 80%;
  cursor: pointer;
}
.main .mainMenu__btn-yellow {
  background-color: #FFCE67;
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
  border: 4px solid #000;
  box-shadow: 0px 10px #000;
  width: 80%;
  cursor: pointer;
}
.main .mainMenu__btn-white {
  background-color: #fff;
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
  border: 4px solid #000;
  box-shadow: 0px 10px #000;
  width: 80%;
  cursor: pointer;
}
.main .mainMenu__btn-red:hover, .main .mainMenu__btn-yellow:hover, .main .mainMenu__btn-white:hover {
  box-shadow: 0px 10px #5C2DD5;
}

.mainGame {
  background-color: transparent;
}
.mainGame .darkPurpleBackground {
  border: solid 1px transparent;
  border-radius: 90px 90px 0px 0px;
  background-color: #5C2DD5;
  width: 100%;
  height: 30vh;
  position: absolute;
  bottom: 0;
  z-index: -10;
}
.mainGame .player {
  background-color: #fff;
  padding: 15px 0px 0px 0px;
  margin: 15px;
  border-radius: 30px;
  border: 4px solid #000;
  box-shadow: 0px 10px #000;
  width: 147px;
  height: 160px;
  text-align: center;
}
.mainGame .player__img {
  margin-top: -100px;
}
.mainGame .gameBoard {
  background-color: #fff;
  padding: 15px 0px 50px 0px;
  margin: 15px;
  border-radius: 30px;
  border: 4px solid #000;
  box-shadow: 0px 10px #000;
  width: 660px;
  height: 600px;
}
.mainGame .gameBoard__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.mainGame .gameBoard__btn .btnPointer {
  opacity: 0;
  position: absolute;
  top: 140px;
  margin-left: -20px;
}
.mainGame .gameBoard__btn:hover .btnPointer {
  opacity: 1;
}
.mainGame .gameBoard__circle {
  background-color: #7945FF;
  padding: 0px;
  margin: 10px;
  border-radius: 50%;
  border: 4px solid #000;
  box-shadow: -1px -4px #000;
  width: 70px;
  height: 70px;
}
.mainGame .gameBoard__circle:hover {
  background-color: #FFCE67;
}
.mainGame .gameBoard .playBtn {
  background-color: #fff;
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
  border: 4px solid #000;
  box-shadow: 0px 10px #000;
  width: 315px;
  position: absolute;
  top: 800px; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.mainGame .asideMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.315);
}
.mainGame .hide {
  display: none;
}

.nav {
  padding: 60px 0px 40px 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -100;
}
.background-purple {
  background-color: #7945FF;
}
.background-dark-purple {
  background-color: #5C2DD5;
}

.image, p, h2 {
  background-color: transparent;
}

.flex {
  display: flex;
}
.flex-j-c {
  justify-content: center;
}
.flex-j-s-b {
  justify-content: space-between;
}
.flex-j-f-s {
  justify-content: flex-start;
}
.flex-a-i {
  align-items: center;
}
.flex-a-i-f-s {
  align-items: flex-start;
}
.flex-f-d-c {
  flex-direction: column;
}
.flex-f-w {
  flex-wrap: wrap;
}/*# sourceMappingURL=style.css.map */